<footer>
    <div class="footer_Container">
        {{!-- image logo --}}
        <span>© 2019 GERARD CORP. ALL RIGHTS RESERVED</span>
        <a href="" class="privacy_Terms">Privacy Terms</a>
    </div>
</footer>