<h2 class="title">Create a new user</h2>

<form method="post" action="/dashboard/user/" id="form_create_user" class="form">
    <label for="marque">Marque</label>
    <input id="marque" type="text" value="foo" name="marque" required>
    <label for="color">color</label>
    <input id="color" type="text" value="bar" name="color" required>
    <label for="descriptif">Descriptif</label>
    <input id="descriptif" type="number" value="38" name="descriptif" required>
    <label for="year">Year</label>
    <input id="year" type="year" value="baz@baz.com" name="year" required>
    <label for="image">Image</label>
    <input id="image" type="file" value="image"></input>
    <button id="btn_create_user" class="btn">Ok</button>
</form>