<section class="main_navigation_bar">
    <div class="nav_Container">
        <div class="nav_btn_Container">
            <a class="header_nav_btn" href="/">Home</a>
        </div>

        <nav class="nav_btn_Container" id="log_space">
            {{#unless isLoggedIn}}
            <a class="header_nav_btn" href="/login">Login</a>
            <a class="header_nav_btn" href="/signup">Signup</a>
            {{/unless}}
            {{#if isLoggedIn}}
            <a class="header_nav_btn" href="/user_page">Profile</a>
            <a class="header_nav_btn" href="/logout">Logout</a>
            {{/if}}
        </nav>

    </div>
</section>