<section class="main_navigation_bar">
    <div class="nav_Container">
        <nav>
            <a href="/"><img src="/images/logo.gif" alt="logo" class="logo"></a>
            {{#unless isLoggedIn}}
            <a class="header_nav_btn" href="/login">Login</a>
            <a class="header_nav_btn" href="/signup">Signup</a>
            {{/unless}}
            {{#if isLoggedIn}}
            <a class="header_nav_btn" href="/user_page">Profile</a>
            <a class="header_nav_btn" href="/logout">Logout</a>
            {{/if}}
        </nav>

    </div>
</section>