<h2 class="title">Create a new Car</h2>

<form method="post" action="/user_page/" id="form_create_car" class="form">
    <label for="marque">Marque</label>
    <input id="marque" type="text" value="foo" name="carMarque" required>
    <label for="model">Model</label>
    <input id="model" type="text" value="bar" name="model" required>
    <label for="color">color</label>
    <input id="color" type="text" value="bar" name="color" required>
    
    <label for="year">Year</label>
    <input id="year" type="number" value="1937" name="year" required>
    
    <label for="descriptif">Descriptif</label>
    <input id="descriptif" type="number" value="special model" name="descriptif" required>
    
    <label for="image">Image</label>
    <input id="image" type="file" value="image" name="imag"></input>

    {{!-- <label for="image">Owner</label>
    <input id="ownerId" type="text" value="{{user._id}}" name="{{user._id}}" readonly="true" ></input> --}}
    <button id="btn_create_user" class="btn">Create</button>
</form>